# Atomic data types

### Numeric data types: Int and float

In [1]:
# +, -, *, **, /, //, %
print(2+3*4)
print((2+3)*4)
print(2**10)
print(6/3)
print(7/3)
print(7//3)
print(7%3)
print(3/6)
print(3//6)
print(3%6)
print(2**100)

14
20
1024
2.0
2.3333333333333335
2
1
0.5
0
3
1267650600228229401496703205376

### Bool class: True or False

In [2]:
True

True

In [3]:
False

False

In [4]:
True or False

True

In [5]:
not (False or True)

False

In [6]:
True and True

True

### Relational and logical operators

#### <
#### >
#### <=
#### >=
#### ==
#### !=
#### and
#### not
#### or

# Built in collection data types

### List []

In [7]:
mylist = [1,3,True,6.5]

#### Operations

- indexing - []
- length - len()
- membership - in
- concat - +
- repetition - *
- slicing - [:]

#### Methods of list

In [10]:
l = [1024, 3, True, 6.5]

In [11]:
l.append(False)
l

[1024, 3, True, 6.5, False]

In [12]:
l.insert(3, "Hello")
l

[1024, 3, True, 'Hello', 6.5, False]

In [13]:
l.pop()

False

In [14]:
l.pop(2)

True

In [22]:
l = [4,6,7,1,3,0]
l.sort()
l

[0, 1, 3, 4, 6, 7]

In [26]:
l = [1024, 3, True, 6.5]
l.reverse()
l

[6.5, True, 3, 1024]

In [27]:
del l[2]
l

[6.5, True, 1024]

In [28]:
l.index(True)

1

In [30]:
l.count(6.5)

1

In [31]:
l = [1024, 3, True, 6.5, 3]
l.remove(3)
l

[1024, True, 6.5, 3]

In [32]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Strings

In [34]:
myName = "David"
myName * 2

'DavidDavid'

In [35]:
myName[2]

'v'

In [36]:
len(myName)

5

In [37]:
myName.upper()

'DAVID'

In [38]:
myName.center(10)

'  David   '

In [40]:
myName.find('v')

2

In [41]:
myName.split('v')

['Da', 'id']

In [42]:
myName.count('v')

1

In [44]:
myName.ljust(4)

'David'

In [45]:
myName.rjust(3)

'David'

In [46]:
myName[3] = "x"

TypeError: 'str' object does not support item assignment

In [47]:
# Strings are immutable

### Tuples

In [48]:
# Tuples are immutable

In [49]:
myTuple = (2,True,4.96)

In [50]:
myTuple[2]

4.96

### Set

In [51]:
set1 = {3,6,"cat",4.5,False}

In [52]:
set1

{3, 4.5, 6, False, 'cat'}

In [53]:
set1[2] = "v"

TypeError: 'set' object does not support item assignment

In [54]:
# Sets are immutable and does not allow duplicates

In [55]:
set1 = {3,6,"cat",4.5,False}
set2 = {3,6,"cat",4.5,False, 8, 4}

In [56]:
'cat' in set1

True

In [57]:
len(set1)

5

In [58]:
set1 | set2

{3, 4, 4.5, 6, 8, False, 'cat'}

In [59]:
set1 & set2

{3, 4.5, 6, False, 'cat'}

In [60]:
set2 - set1

{4, 8}

In [61]:
set1 <= set2

True

In [63]:
set1.add("x")
set1

{3, 4.5, 6, False, 'cat', 'x'}

In [64]:
set1.remove(3)
set1

{4.5, 6, False, 'cat', 'x'}

In [66]:
set1.pop()
set1

{6, 'cat', 'x'}

In [67]:
set1.clear()

In [68]:
set1

set()

### Dictionary

In [69]:
capitals = {'Iowa':'DesMoines','Wisconsin':'Madison'}

In [70]:
for k in capitals:
    print(capitals[k])

DesMoines
Madison

In [71]:
capitals['Iowa']

'DesMoines'

In [72]:
'Iowa' in capitals

True

In [73]:
del capitals['Iowa']

In [74]:
capitals

{'Wisconsin': 'Madison'}

In [75]:
capitals.keys()

dict_keys(['Wisconsin'])

In [76]:
capitals.values()

dict_values(['Madison'])

In [77]:
capitals.items()

dict_items([('Wisconsin', 'Madison')])

In [78]:
capitals.get('Wisconsin')

'Madison'